

* {
    font-family: Arial;
}

header {
    width:100%;
    position: sticky;
    background-color: green;
    text-align: center;
    z-index: 1;
    clear: both;

}

#main {
   height: auto;
	width: 800px;
    height:500px;
	position: center;
    margin-top: 10px;
    margin-left: 10px;
    overflow: scroll;
}



.current {
    margin-bottom: 10px;
    background-color: lightgray;

    
}               




.subject {
margin-top: 2px;
margin-bottom: 2px;

}





div.current div.content {
    display: none; /* initial state */
}

div.current div.content.show {
    display: inline
    
}




