

* {
    font-family: Arial;
    
}
#main {
   height: auto;
	width: 800px;
	background-color: lightgrey;
	position: absolute;
    margin-top: 20px;
    margin-left: 10px;
    z-index: 1;
    color: gray;
    
}

#counter{
    font-family: arial;
}

.inbox {
    clear: both;
    width: 700px;
    height: auto;
    margin-top: 10px;
    margin-left: 10px;
    position: fixed;
    display: inline-block;
}


li {
    font-family: arial;
    color: red;
    font-size: 12pt;
    
}

p {

}


