

* {
    font-family: Arial;
    
}
#main {
   height: auto;
	width: 800px;
	
	position: absolute;
    margin-top: 20px;
    margin-left: 10px;
    z-index: 1;
    color: gray;
    
}

#counter{
    font-family: arial;
}

.current {
    
    border: solid 1px;
}




